body{
margin: 0;
padding: 0;
}

.me{
    border-top: 10px dotted black;
border-top: none;

padding: 50px 100px;

box-sizing: border-box;

background-color: rgb(255, 188, 101);
}

.school{
    border-top: 10px dotted black;
border-top: none;

padding: 50px 100px;

box-sizing: border-box;
min-height: 0%;
background-color: rgb(93, 109, 255);
}

.you{
    border-top: 10px dotted black;
border-top: none;

padding: 50px 100px;

box-sizing: border-box;
min-height: 0%;
background-color: rgb(252, 150, 213);
}